
.subject-card img{
    padding: 3%;
}

.subject-card{
    padding: 0% 0% 5% 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.go-back-btn{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}