

.home-cards{
    width: 310px;
    height: 140px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.homee{
    width: 50%;
    background-color: #F8F8FF;
    margin-left: 0;
    padding: 4%;
}

.right{
    margin-right: 10%;
}

@media screen and (min-width: 992px){
    .home-cards{
        margin-left: 60%;
        overflow:visible;
        
    }
}

@media screen and (max-width: 500px){
    .flexxx{
 
        flex-direction: column;
    }
    .homee{
        padding-top: 10%;
        padding-bottom: 10%;
        margin:0;
        width: 60%;
    }
}



