html {
    scroll-behavior: smooth;
  }


.header-container{
    background-color: #524A90;
    /* background: -webkit-linear-gradient(0deg,#FF7468, #524A90);
background: linear-gradient(260deg,#FF7468, #524A90); */
 /* background: linear-gradient(87.13deg, #524A90 41%, #FF7468 101.69%); */
}
.h1-tag{
    font-size: 90px;
}
.nav-style{
    text-decoration: none;
    margin: 5px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 5px;
}

.nav-style:hover{
    color: white;
    border: 1px solid ghostwhite;
    border-radius: 10px;
}

.course-card{
    background-color: white;
    width: 320px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}
.course-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.logo-style{
    display: block;
    margin-left: 0%;
}

@media screen and (max-width: 500px){
.h1-tag{
    font-size: 45px;
}
.course-card{
    width: 320px;
}
.course-card img{
    width: 320px;
}
.nav-container{
    display: flex; 
    flex-direction: column;
}
.nav-style{
    border-bottom: 1px solid gray;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
}
