.footer-style{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container{
    background-color: #524A90;
    height: 200px;
}
.footer-links a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.socials{
    display: flex;
}

